@using BELTEXAM.Models;
@model DashboardView;
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
    <title>All Scheduled Activities</title>
</head>

<body>
    <div class="d-flex justify-content-between">
        <h2>Dojo Activity Center</h2>
        <div class="d-flex justify-content-between align-items-center">
            <h2>Welcome, @Model.LoggedInUser.Name</h2>&nbsp;&nbsp;&nbsp;
            <a href="/logout" class="text-decoration-none">Log Out</a>
        </div>
    </div>
    <div class="container">
        <table class="table">
            <thead>
                <tr class="row">
                    <th class="col-4">Activity</th>
                    <th class="col-2">Date & Time</th>
                    <th class="col-1">Duration</th>
                    <th class="col-2">Event Coordinator</th>
                    <th class="col-2"># of Participants</th>
                    <th class="col-1">Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var activity in @Model.AllActivities)
                {
                    <tr class="row">
                        <td class="col-4"><a href="/activity/@activity.ActivityId">@activity.ActivityName</a></td>
                        <td class="col-2">@activity.Date.ToString("MM/dd/yyyy - hh:mm tt")</td>
                        <td class="col-1">@activity.Duration @activity.DurationType</td>
                        <td class="col-2">@activity.Creator.Name</td>
                        <td class="col-2">@activity.Attendees.Count</td>
                        <td class="col-1">
                            @{
                                if (activity.CreatorId != Model.LoggedUserId)
                                {
                                    if (activity.Attendees.Any(a => a.UserId == Model.LoggedUserId))
                                    {
                                        <a href="activity/@activity.ActivityId/RSVP" class="btn btn-danger">Leave</a>
                                    }
                                    else
                                    {
                                        <a href="activity/@activity.ActivityId/RSVP" class="btn btn-success">Join</a>
                                    }
                                }
                                else
                                {
                                    <a href="activity/@activity.ActivityId/delete" class="btn btn-danger">Cancel</a>
                                }
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div>
        <a href="/new" class="btn btn-primary">Create a New Activity</a>
    </div>
</body>

</html>